<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Free Fire</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
    <link rel="stylesheet" href="/assets/css/ff.css">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a href="/">
                <div class="logo">
                    <img src="/assets/img/logo.png" alt="Game Top-Up Logo">
                </div>
            </a>
            <!-- Grid system untuk menempatkan search di samping logo -->
            <div class="row">
                <div class="col-lg-4">
                    <!-- Tombol toggler untuk tampilan mobile -->
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false"
                        aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </div>
            </div>
            <!-- Menu navigasi -->
            <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-link active" aria-current="page" href="/">Home</a>
                    <a class="nav-link active" href="/riwayat">Lacak Pesanan</a>
                    <a class="nav-link active" href="/contact">Kontak Kami</a>
                </div>
            </div>
        </div>
    </nav>

    <div class="container">
        <div class="col-md-12 text-center">
            <div class="banner">
                <img src="/assets/img/ff-cover.jpg" alt="Top-Up Banner" class="img-fluid">
            </div>
        </div>
    </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="content-box">
                    <div class="row">
                        <div class="col-md-6">
                            <img src="/assets/img/ff.png" alt="Game Image" style="border-radius: 5px;">
                        </div>
                        <div class="col-md-6">
                            <h4 style="margin: 40px;">Free Fire</h4>
                        </div>
                    </div>
                    <div style="margin-top: 30px;">
                        <p>TOP UP DIAMOND FREE FIRE Proses cepat 3 detik setelah pembayaran Open 24 hours <br>
                            Cara order : <br>
                            1. Masukkan ID <br>
                            2. Pilih nominal diamond <br>
                            3. Pilih metode pembayaran <br>
                            4. Masukkan nomor Whatsapp dengan benar! <br>
                            5. Klik beli sekarang dan lakukan pembayaran <br>
                            6. Diamond akan masuk otomatis ke akun anda <br><br>
                            UANG TRANSFER SESUAI TOTAL TAGIHAN !!!
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="content-box">
                    <h5>Masukkan ID Player</h5>
                    <hr>
                    <input id="idPlayerInput" type="text" placeholder="ID Player">
                    <p class="pppp">Untuk menemukan ID Pemain Anda, klik gambar avatar Anda di pojok kiri atas layar
                        Anda. ID Pemain Anda akan ditampilkan di bawah nama pengguna Anda.</p>
                </div>

                <div class="content-box">
                    <h5>Pilih Nominal Top Up</h5>
                    <hr>
                    <div class="diamond-options-container">
                        {{ range .DiamondOptions }}
                        {{ if eq .Stock 0 }}
                        <button class="diamond-option out-of-stock" data-value="{{ .Value }}" data-price="{{ .Harga }}"
                            data-stock="{{ .Stock }}" disabled>
                            {{ else }}
                            <button class="diamond-option" data-value="{{ .Value }}" data-price="{{ .Harga }}"
                                data-stock="{{ .Stock }}" onclick="selectDiamond(this)">
                                {{ end }}
                                <span class="dm-text">{{ .Value }}</span><br>
                                <span class="price-text">Harga : Rp{{ .Harga }}</span>
                            </button>
                            {{ end }}
                        </button>
                    </div>
                </div>

                <div class="content-box">
                    <h5>Pilih Pembayaran</h5>
                    <hr>
                    <div class="expandable-box" id="myExpandableBox1">
                        <div class="expandable-content">
                            <div class="ewallet-section">
                                <h6>Ewalet</h6>
                                <div class="expand-btn" onclick="toggleExpand('myExpandableBox1')">
                                    <span class="expand-icon">▼</span>
                                </div>
                                <div class="ewallet-images">
                                    <img src="/assets/img/shoppe.jpg" alt="">
                                    <img src="/assets/img/dana.jpg" alt="">
                                    <img src="/assets/img/gopay.jpg" alt="">
                                    <img src="/assets/img/QRIS.png" alt=""
                                        style="background-color: white; width: 60px;">
                                </div>
                            </div>
                            <div class="payment-box">
                                <div class="payment-option" onclick="handlePaymentClick('Bank Payment 1')"
                                    data-price="RpXXX">
                                    <img src="/assets/img/shoppe.jpg" alt="">
                                    <span class="price" id="selectedDiamondPrice1" style="display: none;">Rp<span
                                            id="priceValue1">RpXXX</span></span>
                                </div>
                                <div class="payment-option" onclick="handlePaymentClick('Bank Payment 2')"
                                    data-price="RpXXX">
                                    <img src="/assets/img/dana.jpg" alt="">
                                    <span class="price" id="selectedDiamondPrice1" style="display: none;">Rp<span
                                            id="priceValue2">RpXXX</span></span>
                                </div>
                                <div class="payment-option" onclick="handlePaymentClick('Bank Payment 3')"
                                    data-price="RpXXX">
                                    <img src="/assets/img/gopay.jpg" alt="">
                                    <span class="price" id="selectedDiamondPrice1" style="display: none;">Rp<span
                                            id="priceValue3">RpXXX</span></span>
                                </div>
                                <div class="payment-option" onclick="handlePaymentClick('Bank Payment 4')"
                                    data-price="RpXXX">
                                    <img src="/assets/img/QRIS.png" alt="">
                                    <span class="price" id="selectedDiamondPrice1" style="display: none;">Rp<span
                                            id="priceValue4">RpXXX</span></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="expandable-box" id="myExpandableBox2">
                        <div class="expandable-content">
                            <div class="bank-section">
                                <h6>Bank Transfer</h6>
                                <div class="expand-btn" onclick="toggleExpand('myExpandableBox2')">
                                    <span class="expand-icon">▼</span>
                                </div>
                                <div class="ewallet-images">
                                    <img src="/assets/img/bca.jpg" alt="">
                                    <img src="/assets/img/bri.jpg" alt="">
                                    <img src="/assets/img/bni.jpg" alt="">
                                    <img src="/assets/img/mandiri.jpg" alt="">
                                </div>
                            </div>
                            <div class="payment-box">
                                <div class="payment-option" onclick="handlePaymentClick('Bank Payment 5')"
                                    data-price="RpXXX">
                                    <img src="/assets/img/bca.jpg" alt="">
                                    <span class="price" id="selectedDiamondPrice1" style="display: none;">Rp<span
                                            id="priceValue1">RpXXX</span></span>
                                </div>
                                <div class="payment-option" onclick="handlePaymentClick('Bank Payment 6')"
                                    data-price="RpXXX">
                                    <img src="/assets/img/bni.jpg" alt="">
                                    <span class="price" id="selectedDiamondPrice1" style="display: none;">Rp<span
                                            id="priceValue2">RpXXX</span></span>
                                </div>
                                <div class="payment-option" onclick="handlePaymentClick('Bank Payment 7')"
                                    data-price="RpXXX">
                                    <img src="/assets/img/bri.jpg" alt="">
                                    <span class="price" id="selectedDiamondPrice1" style="display: none;">Rp<span
                                            id="priceValue3">RpXXX</span></span>
                                </div>
                                <div class="payment-option" onclick="handlePaymentClick('Bank Payment 8')"
                                    data-price="RpXXX">
                                    <img src="/assets/img/mandiri.jpg" alt="">
                                    <span class="price" id="selectedDiamondPrice1" style="display: none;">Rp<span
                                            id="priceValue4">RpXXX</span></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="expandable-box" id="myExpandableBox3">
                        <div class="expandable-content">
                            <div class="bank-section">
                                <h6>Convenience Store</h6>
                                <div class="expand-btn" onclick="toggleExpand('myExpandableBox3')">
                                    <span class="expand-icon">▼</span>
                                </div>
                                <div class="ewallet-images">
                                    <img src="/assets/img/alfamart.jpg" alt="">
                                    <img src="/assets/img/indomaret.webp" alt="">
                                </div>
                            </div>
                            <div class="payment-box">
                                <div class="payment-option" onclick="handlePaymentClick('Bank Payment 9')"
                                    data-price="RpXXX">
                                    <img src="/assets/img/alfamart.jpg" alt="">
                                    <span class="price" id="selectedDiamondPrice1" style="display: none;">Rp<span
                                            id="priceValue1">RpXXX</span></span>
                                </div>
                                <div class="payment-option" onclick="handlePaymentClick('Bank Payment 10')"
                                    data-price="RpXXX">
                                    <img src="/assets/img/indomaret.webp" alt="">
                                    <span class="price" id="selectedDiamondPrice1" style="display: none;">Rp<span
                                            id="priceValue2">RpXXX</span></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="content-box">
                    <h5>Nomor Whatsapp</h5>
                    <hr>
                    <p class="ppp">Masukan Nomor Whatsapp</p>
                    <input id="noWaInput" type="text" placeholder="08XXXXXXXXXX">
                </div>
                <div class="content-box order-now-button" onclick="submitOrder()">
                    <a href="/checkout" id="orderNowBtn">
                        <h5 style="transform: translateY(-10%); cursor: pointer;" onclick="redirectToCheckout()">Order
                            Now
                        </h5>
                    </a>
                </div>
            </div>
        </div>
    </div>


</body>
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofGJPUFXl6uAqIm2hjI6iHHRoLs" crossorigin="anonymous"></script>
<script src="/assets/js/ff.js"></script>

</html>