* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: Arial, sans-serif;
}

.navbar-nav {
    text-align: right;
}

.navbar-collapse {
    justify-content: flex-end;
}

.logo img {
    width: 150px;
    margin-right:  20px;
}

.swiper-container {
    height: 450px;
    margin:10px auto;
    overflow: hidden;
}

.swiper-wrapper {
    display: flex;
}

.swiper-slide {
    width: 100%; /* Mulai dengan tingkat transparansi 0 */
    transition: opacity 0.5s ease; /* Efek transisi pada tingkat transparansi */
}

.swiper-slide img {
    width: 100%;
    height: auto;
}

.dert{
    background-color: #8ccaf3; /* Warna biru muda */
    color: #fff; /* Warna teks putih */
}

.dert.active {
    background-color: #387bce; /* Warna biru tua saat tombol aktif */
}

.content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    margin: 30px 20px 20px 0px;
    justify-content: space-between; /* Menambahkan properti ini */
    .content {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.image-container {
    flex-grow: 1;
    position: relative;
    overflow: hidden;
    display: block;
    border: 1px solid #ccc;
    border-radius: 8px;
}

}

.image-container {
    position: relative;
    overflow: hidden;
    display: block;
    border: 1px solid #ccc;
    border-radius: 8px;
    width: 100%;
}

.image-container:hover {
    filter: brightness(80%);
    border: 2px solid dimgray;
}

.thumbnail {
    width: 100%;
    height: auto;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.text-overlay {
    position: absolute;
    bottom: 0; /* Perubahan pada bagian ini agar text-overlay berada di bawah */
    left: 0;
    width: 100%;
    height: auto;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.9), transparent);
    color: #fff;
    padding: 10px;
    box-sizing: border-box;
    opacity: 0;
    transition: opacity 0.3s ease, bottom 0.3s ease;
    text-align: left;
}

.image-container:hover .text-overlay {
    opacity: 1;
}


.wrap {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.footer-one {
    max-width: 40%;
    text-align: left;
}

.footer-two {
    max-width: 60%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.footer-title {
    font-weight: bold;
    margin-bottom: 10px;
}

.payment {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 0.5rem;
    align-items: flex-start; /* Menggeser elemen ke sisi kiri */
}

.payment li {
    margin-bottom: 10px;
}

.payment img {
    border-radius: 0.3rem;
    width: 6rem; /* Mengurangi lebar gambar */
    height: auto; /* Menyesuaikan tinggi sesuai lebar */
}

footer {
    margin-top: auto; /* Menempelkan footer di bagian bawah */
    background-color: gray;
    padding: 20px;
    margin-top: 50px;
}