* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: Arial, sans-serif;
}

.navbar-nav {
    text-align: right;
}

.navbar-collapse {
    justify-content: flex-end;
}

.logo img {
    width: 50px;
    height: 50px;
}

.swiper-container {
    width: 80%;
    height: 450px;
    margin:10px auto;
    overflow: hidden;
}

.swiper-wrapper {
    display: flex;
}

.swiper-slide {
    width: 100%; /* Mulai dengan tingkat transparansi 0 */
    transition: opacity 0.5s ease; /* Efek transisi pada tingkat transparansi */
}

.swiper-slide img {
    width: 100%;
    height: auto;
}

.content {
    color: #fff;
    text-align: left;
    padding: 10px 0;
    margin-left: 40px;
    border-radius: 10px;
}

#ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#ul li {
    display: inline-block;
    margin-right: 20px;
}

#ul li button {
    text-decoration: none;
    color: #fff;
    background-color: darkgray;
    border: none;
    font-weight: bold;
    cursor: pointer;
    padding: 13px 22px;
    font-size: 15px;
    border-radius: 10px;
    border: 2px solid white;
}

#ul li.active button {
    color: #ecf0f1;
}
.game-info {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 20px;
}

.game-box {
    width: 200px;
    margin-bottom: 20px;
    text-align: center;
    border: 1px solid black;
    border-radius: 10px;
}

.game-box img {
    width: 100%;
    border-radius: 8px;
}
.game-box p {
    margin: 10px;
    color: black;
    font-size: 16px;
}
.wrap {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
}

.footer-one {
    max-width: 40%;
    text-align: left;
}

.footer-two {
    max-width: 60%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.footer-title {
    font-weight: bold;
    margin-bottom: 10px;
}

.payment {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 0.5rem;
    align-items: flex-start; /* Menggeser elemen ke sisi kiri */
}

.payment li {
    margin-bottom: 10px;
}

.payment img {
    border-radius: 0.3rem;
    width: 6rem; /* Mengurangi lebar gambar */
    height: auto; /* Menyesuaikan tinggi sesuai lebar */
}

footer {
    margin-top: auto; /* Menempelkan footer di bagian bawah */
    background-color: gray;
    padding: 20px;
}